**/*.xml
**/xml_1/**
**/xml_2/**
**/xml_3/**
**/xml_4/**
*.wt
storage.bson
*.pdf
start
s.txt
p.txt
*.lock
**/.DS_Store
*.icloud
WiredTiger*
WiredTiger.turtle
c.txt
content.txt
diagnostic.data/
LOG/
journal/
name.md
eg.json
**/node_modules/**
law.db
**/data/**